body {
  box-sizing: border-box;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.05) 100%), url();
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

body {
  margin: 0 auto;
  min-width: 320px;
}

@media screen and (min-width: 769px) {
  body {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.05) 100%),
      url();
  }
}
@media screen and (min-width: 1280px) {
  body {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.05) 100%),
      url();
  }
}
