{{! <div class='chart-main-container is-closed'>
    <div class='chart-hide-button-container'>
      <a class='chart-hide-link' href=''>Hide Chart</a>
      <svg class='icon-arrow-up'>
        <use href='./images/sprite.svg#icon-arrow-up' width='28' height='28'></use>
      </svg>
    </div>
  </div> }}