<div class='current-day-div'>
  <p class='current-day'>8</p>
  <p class='current-weekday'>Sat</p>
</div>
<div class='current-time-div'>
  <div class='current-month-div'>
    <p class='current-month'>february</p>
    <p class='current-time'>121212</p>
  </div>
  <div class='current-day-suntime'>
    <p class='current-sun-rise'>{{sunrise}}</p>
    <p class='current-sun-set'>{{sunset}}</p>
  </div>
</div>