<div class='current-day-div'>
  <p class='current-day'></p>
  <p class='current-weekday'></p>
</div>
<div class='current-time-div'>
  <div class='current-month-div'>
    <p class='current-month'></p>
    <p class='current-time'></p>
  </div>
  <div class='current-day-suntime'>
    <p class='current-sun-rise'>{{sunrise}}</p>
    <p class='current-sun-set'>{{sunset}}</p>
  </div>
</div>