<section class="city-search-section">
  <div class="city-search-container">
    <svg class="input-icon-location">
      <use href="../src/images/sprite.svg#icon-icon-location"></use>
    </svg>
    <input class="city-search-input" type="text" placeholder="Enter the city..." />
    <svg class="input-icon-star">
      <use href="../src/images/sprite.svg#icon-Star-1"></use>
    </svg>
  </div>
  <div class="city-storage-div">
    <ul class="city-storage-list">
      <li class="city-storage-list-item">
        Kyiv
        <svg class="city-storsge-close-icon">
          <use href="../src/images/sprite.svg#icon-Vector-1"></use>
        </svg>
      </li>
      <li class="city-storage-list-item">
        Paris
        <svg class="city-storsge-close-icon">
          <use href="../src/images/sprite.svg#icon-Vector-1"></use>
        </svg>
      </li>
      <!-- <li class="city-storage-list-item">Vinnytsya</li>
      <li class="city-storage-list-item">Warsaw</li> -->
    </ul>
  </div>
</section>
