<div class="current-date-section">
  <div class="current-date-div">
    <div class="current-day-div">
      <pre class="current-day">8<sup class="current-day-sup">th</sup></pre>
      <pre class="current-day">Sat</pre>
    </div>
    <div class="current-time-div">
      <div class="current-month-div">
        <pre class="current-month">February</pre>
        <pre class="current-time">21:30:56</pre>
      </div>
      <div class="current-day-suntime">
        <pre class="current-sun-rise">07:04</pre>
        <pre class="current-sun-set">17:05</pre>
      </div>
    </div>
  </div>
</div>
