<section class="days-of-week">
  <div class="container">
    <h2 class="location1">Kyiv, UA</h2>
    <div class="temperature-wrapper">
      <h2 class="location">Kyiv, UA</h2>
      <ul class="daily-temperature">
        <li class="daily-temperature__day">
          <p class="daily-temperature__week-day">Sunday</p>
          <p class="daily-temperature__date">09 Feb</p>
          <img class="daily-temperature__img" src="" />
          <ul class="daily-temperature__range">
            <li class="daily-temperature__range-item">
              <p class="daily-temperature__range">min</p>
              <p class="daily-temperature__range-value">-2</p>
            </li>
            <li class="daily-temperature__range-item">
              <p class="daily-temperature__range">max</p>
              <p class="daily-temperature__range-value">+5</p>
            </li>
            <li></li>
          </ul>
        </li>
      </ul>
      <button type="button" class="daily-temperature__additional-info">more info</button>
      <button type="button" class="day prev"><</button>
      <button type="button" class="day next">></button>
    </div>
  </div>
</section>
