<section class="header">
  <div class="header-wrapper">
    <form action="get" class="input-form">
      <input class="input-field" name="input-city" placeholder="Enter the city" type="text" />
      <input type="checkbox" class="add-favorite" />
      <button type="button" class="input-form-search"></button>
      <ul class="favorite-list">
        <li class="favorite-list-city">
          <button type="button" class="favorite-list-city-selector">London</button>
        </li>
      </ul>
    </form>
  </div>
</section>
