<div class="wheather-main-more-info-container">
  <ul class="wheather-whole-data-more-info-list">
    <div class="wheather-whole-data-more-info-container">
      <li class="wheather-whole-data-more-info-item">
        <p class="current-more-info-time">00:00</p>
        <svg class="icon-more-info-wheather">
          <use href="./images/sprite.svg#icon-cloudy" width="35" height="35"></use>
        </svg>
        <div class="current-more-info-temperature">-3</div>

        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-barometer" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">772 mm</p>
        </div>
        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-humidity" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">54%</p>
        </div>
        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-wind" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">3.7 m/s</p>
        </div>
      </li>
    </div>
    <div class="wheather-whole-data-more-info-container">
      <li class="wheather-whole-data-more-info-item">
        <p class="current-more-info-time">00:00</p>
        <svg class="icon-more-info-wheather">
          <use href="./images/sprite.svg#icon-cloudy" width="35" height="35"></use>
        </svg>
        <div class="current-more-info-temperature">-3</div>

        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-barometer" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">772 mm</p>
        </div>
        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-humidity" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">54%</p>
        </div>
        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-wind" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">3.7 m/s</p>
        </div>
      </li>
    </div>
    <div class="wheather-whole-data-more-info-container">
      <li class="wheather-whole-data-more-info-item">
        <p class="current-more-info-time">00:00</p>
        <svg class="icon-more-info-wheather">
          <use href="./images/sprite.svg#icon-cloudy" width="35" height="35"></use>
        </svg>
        <div class="current-more-info-temperature">-3</div>

        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-barometer" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">772 mm</p>
        </div>
        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-humidity" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">54%</p>
        </div>
        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-wind" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">3.7 m/s</p>
        </div>
      </li>
    </div>
    <div class="wheather-whole-data-more-info-container">
      <li class="wheather-whole-data-more-info-item">
        <p class="current-more-info-time">00:00</p>
        <svg class="icon-more-info-wheather">
          <use href="./images/sprite.svg#icon-cloudy" width="35" height="35"></use>
        </svg>
        <div class="current-more-info-temperature">-3</div>

        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-barometer" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">772 mm</p>
        </div>
        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-humidity" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">54%</p>
        </div>
        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-wind" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">3.7 m/s</p>
        </div>
      </li>
    </div>
    <div class="wheather-whole-data-more-info-container">
      <li class="wheather-whole-data-more-info-item">
        <p class="current-more-info-time">00:00</p>
        <svg class="icon-more-info-wheather">
          <use href="./images/sprite.svg#icon-cloudy" width="35" height="35"></use>
        </svg>
        <div class="current-more-info-temperature">-3</div>

        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-barometer" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">772 mm</p>
        </div>
        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-humidity" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">54%</p>
        </div>
        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-wind" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">3.7 m/s</p>
        </div>
      </li>
    </div>
    <div class="wheather-whole-data-more-info-container">
      <li class="wheather-whole-data-more-info-item">
        <p class="current-more-info-time">00:00</p>
        <svg class="icon-more-info-wheather">
          <use href="./images/sprite.svg#icon-cloudy" width="35" height="35"></use>
        </svg>
        <div class="current-more-info-temperature">-3</div>

        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-barometer" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">772 mm</p>
        </div>
        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-humidity" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">54%</p>
        </div>
        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-wind" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">3.7 m/s</p>
        </div>
      </li>
    </div>
    <div class="wheather-whole-data-more-info-container">
      <li class="wheather-whole-data-more-info-item">
        <p class="current-more-info-time">00:00</p>
        <svg class="icon-more-info-wheather">
          <use href="./images/sprite.svg#icon-cloudy" width="35" height="35"></use>
        </svg>
        <div class="current-more-info-temperature">-3</div>

        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-barometer" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">772 mm</p>
        </div>
        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-humidity" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">54%</p>
        </div>
        <div class="container-more-info-wheather-parameters">
          <svg class="icon-more-info-wheather-parameters">
            <use href="./images/sprite.svg#icon-wind" width="20" height="20"></use>
          </svg>
          <p class="text-more-info-wheather-parameters">3.7 m/s</p>
        </div>
      </li>
    </div>
  </ul>
</div>
