<section class="weather-output">
  <div class="weather-output-wrapper-today">
    <div class="switch-btn-wrapper">
      <button class="switch-btn today-btn" type="button">Today</button>
      <button class="switch-btn five-days-btn" type="button">5 days</button>
    </div>
    <!-- нужно дополнить этот див-контейнер -->
    <div class="temperature-wrapper-today"></div>
    <!-- нужно дополнить этот див-контейнер -->
    <div class="location-wrapper-today"></div>
    <div class="quotation-wrapper">
      <p class="quotation-text">
        Who cares about the clouds when we're together? Just sing a song and bring the sunny
        weather.
      </p>
      <p class="quotation-author">Dale Evans</p>
    </div>
  </div>
  <div class="weather-output-wrapper-five-days">
    <div class="switch-btn-wrapper">
      <button class="switch-btn today-btn" type="button">Today</button>
      <button class="switch-btn five-days-btn" type="button">5 days</button>
    </div>
    <h2 class="location">Kyiv, UA</h2>
    <div class="temperature-wrapper">
      <ul class="daily-temperature">
        <li class="daily-temperature__day">
          <p class="daily-temperature__week-day"></p>
          <p class="daily-temperature__date"></p>
          <div class="daily-temperature__weather-img"></div>
          <ul class="daily-temperature__temperature-range">
            <li>
              <p class="daily-temperature__temperature-range-key">min</p>
              <p class="daily-temperature__temperature-range-value">-2</p>
            </li>
            <li>
              <p class="daily-temperature__temperature-range-key">max</p>
              <p class="daily-temperature__temperature-range-value">+5</p>
            </li>
          </ul>
          <button type="button" class="daily-temperature__additional-info">more info</button>
          <ul class="daily-temperature__hourly">
            <!-- нужно дополнить эти элементы списка -->

            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </li>
      </ul>
      <button type="button">Show chart</button>
      <div class="chart-wrapper"></div>
    </div>
  </div>
</section>
