<div class="wheather-main-container">
  <div class="wheather-whole-data-container">
    <svg class="icon-wheather">
      <use href="./images/sprite.svg#icon-cloudy" width="35" height="35"></use>
    </svg>
    <h2 class="city-name">Kyiv, UA</h2>
    <div class="values-container">
      <div class="current-temperature">-3</div>
      <div class="min-max-temperature-container">
        <div class="min-temperature">
          <span class="min-t-text">min</span> <br />
          <span class="min-t-value">-2°</span>
        </div>
        <span class="t-divider"> | </span>
        <div class="max-temperature">
          <span class="max-t-text">max</span> <br />
          <span class="max-t-value">1°</span>
        </div>
      </div>
    </div>
  </div>
</div>
