.switch-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 126px;
  padding: 6px 0;
  margin: 32px auto 0;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.today-btn {
  margin-right: 16px;
  background-color: rgba(255, 255, 255, 1);
}
.five-days-btn {
  background-color: rgba(255, 255, 255, 0.54);
}

.slick-track {
  display: flex;
}
.favorite-list-city {
  justify-content: space-around;
}
.slide {
  min-width: max-content;
}
.favorite-list-city-selector {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px 10px;
  background: rgba(16, 33, 54, 0.5);
  border-radius: 20px;
  min-width: 100px;
  color: white;
  outline: none;
  border: none;
  margin-right: 10px;
}

.fa-times-circle {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 5px;
}
// .favorite-list-city-selector {
//   display: flex;
//   justify-content: space-between;
//   min-width: 50px;
//   height: 27px;
//   border-radius: 20px;
//   margin: 13px 10px 0;
//   color: white;
//   background-color: rgba(16, 33, 54, 0.5);
//   outline: none;
// }

.favorite-list {
  width: 400px;
}
.input-field {
  background-color: white;
  padding: 14px 24px;
  position: relative;
  align-items: center;
  border-radius: 30px;
  border: 1px solid white;
  margin-bottom: 14px;
  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 500px;
  }
  @media screen and (min-width: 1280px) {
    width: 520px;
  }
}
.header-wrapper {
  margin: 0 auto 50px;
}
.input-form-addfavorite {
  position: absolute;
  top: 15px;

  left: 480px;
  cursor: pointer;
}
.input-form {
  position: relative;
}
