.switch-btn-wrapper {
  // margin: 40px auto 40px;
  padding-top: 30px;
  width: 320px;
  margin: 0 auto;
  text-align: center;
  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin: 0;
    margin-right: 80px;
    margin-left: auto;
    padding-bottom: 25px;
    padding-top: 25px;

    float: right;
    margin-right: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .buttons-five-days-desktop {
    float: none;
    margin-right: 0;
    display: flex;
    width: 1060px;
    margin: 0 auto;
    justify-content: flex-end;
  }
}

.switch-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 126px;
  padding: 6px 0;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.switch-btn:hover {
  background-color: #fff;
}

.today-btn {
  display: inline-block;
  margin-right: 16px;
  background-color: rgba(255, 255, 255, 0.7);
}
.five-days-btn {
  display: inline-block;
  margin-right: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.slick-track {
  display: flex;
}
.favorite-list-city {
  justify-content: space-around;
}
.slide {
  min-width: max-content;
}
.favorite-list-city-selector {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  padding: 10px 10px;
  background: rgba(16, 33, 54, 0.5);
  border-radius: 20px;
  min-width: 100px;
  color: white;
  outline: none;
  border: none;
  margin-right: 10px;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.favorite-list-city-selector:hover {
  background-color: #102136;
}

.fa-times-circle {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 5px;
}

.favorite-list {
  display: flex;
  position: relative;
  left: 15px;
}
.input-field {
  background-color: white;
  padding: 14px 50px;
  position: relative;
  align-items: center;
  border-radius: 30px;
  border: 1px solid white;
  margin-bottom: 14px;
  outline: none;
  width: 280px;
  @media screen and (min-width: 768px) {
    width: 500px;
  }
  @media screen and (min-width: 1280px) {
    width: 520px;
  }
}
input:autofill {
  background-color: white;
}
.header-wrapper {
  margin: 0 auto 50px;
}
.input-icon-star {
  position: absolute;
  top: 11px;
  left: 240px;
  border: none;
  cursor: pointer;
  background-color: white;
  outline: none;
  border-radius: 50%;
  height: 26px;
  width: 22px;
  border: #7e8691;
  fill: none;
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    left: 455px;
  }
  @media screen and (min-width: 1280px) {
    left: 472px;
  }
}
// .input-icon-star {
//   height: 26px;
//   width: 22px;
//   border: #7e8691;
//   fill: none;
//   pointer-events: none;
//   background-color: transparent;
//   transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
// }
.input-icon-star:hover {
  fill: gold;
}

.input-form {
  position: relative;
  margin: 0 auto;
  width: 280px;
  @media screen and (min-width: 768px) {
    width: 500px;
  }
  @media screen and (min-width: 1280px) {
    width: 520px;
  }
}

@media screen and (min-width: 768px) {
  .city-search-section {
    width: 500px;
    height: 88px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
}

.search-location__slider {
  width: 260px;
  padding-right: 30px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 500px;
    padding-right: 35px;
  }
  @media screen and (min-width: 1280px) {
    width: 515px;
    padding-left: 5px;
    padding-right: 33px;
  }
}

.input-icon-location {
  position: absolute;
  z-index: 100;
  fill: none;
  width: 22px;
  height: 22px;
  top: 15px;
  left: 17px;
  cursor: pointer;
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-icon-location:hover {
  fill: #c6c7c98c;
}
