.current-date-section {
  margin: 0 auto;
  width: 280px;
  margin-top: 30px;
  margin-bottom: 25px;
  padding-top: 42px;
  padding-bottom: 30px;
  align-items: center;
  background-color: rgba(16, 33, 54, 0.8);
  border-radius: 34px;
  color: white;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 0;
    margin-top: 0;
  }
}
.current-date-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}
.current-day-div {
  font-weight: 300;
  display: flex;
  flex-direction: row;
  font-size: 45px;
  justify-content: center;
  margin-bottom: 25px;
}
.current-time-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 300;
}
.current-day-sup {
  font-size: 32px;
  padding-left: 3px;
  padding-right: 5px;
}

.current-month-div,
.current-day-suntime {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  padding-bottom: 15px;
}
.current-day-suntime {
  padding-bottom: 0px;
  padding-top: 0px;
  height: 24px;
}
.current-month-div {
  margin-right: 8px;
}
.current-month,
.current-sun-rise {
  display: flex;
  padding-right: 13px;
  align-items: center;
  width: 100px;
  display: flex;
  justify-content: flex-end;
}
.current-time,
.current-sun-set {
  display: flex;
  padding-left: 13px;
  align-items: center;
  border-left: 1px ridge #ffffff;
}
.current-sun-rise::before {
  content: url('/images/008-sunrise.svg');
  padding-right: 10px;
  top: 3px;
  position: relative;
}
.current-sun-set::before {
  content: url('/images/009-sunset.svg');
  padding-right: 10px;
  top: 3px;
  position: relative;
}
@media screen and (min-width: 766px) {
  .current-date-section {
    width: 500px;
    padding-top: 70px;
    padding-bottom: 42px;
    margin-bottom: 35px;
  }
  .current-date-div {
    width: 290px;
    height: 180px;
    margin: 0 auto;
    padding: 0px 0px;
    width: fit-content;
    margin-top: 30px;
  }
  .current-day-div {
    margin: 20px;
    font-size: 90px;
    margin-bottom: 33px;
  }
  .current-day-sup {
    font-size: 50px;
    padding-left: 3px;
    padding-right: 5px;
    top: -40px;
  }
  .current-month-div {
    margin-right: -15px;
  }
  .current-time,
  .current-sun-set {
    padding-left: 20px;
    font-weight: normal;
  }
  .current-month-div,
  .current-day-suntime {
    font-size: 18px;
    margin-top: 10px;
    font-weight: normal;
    padding-right: 25px;
  }
  .current-month,
  .current-sun-rise {
    padding-right: 20px;
  }
  .current-day-suntime {
    padding-left: 19px;
  }
}
@media screen and (min-width: 1278px) {
  .current-date-section {
    position: absolute;
    bottom: 0;
    width: 630px;
    border-radius: 0px 34px 0px 0px;
    margin-bottom: 0px;
    // padding: 83px 0px;
    position: absolute;
    bottom: 0;
    height: 278px;
  }
  .current-date-div {
    width: fit-content;
    margin-left: 100px;
  }
  .current-day-div {
    font-size: 90px;
    justify-content: end;
    padding-left: 80px;
    margin-bottom: 40px;
  }
  .current-time-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    padding-right: 50px;
  }
  .current-month-div {
    margin-right: 20px;
    padding-bottom: 0px;
    padding-right: 0px;
  }
  .current-month,
  .current-sun-rise {
    padding-right: 20px;
  }
  .current-time,
  .current-sun-set {
    padding-left: 20px;
  }
}
