* {
  margin: 0 auto;
  padding: 0 auto;
}

@media screen and (min-width: 318px) {
  .current-date-section {
    width: 280px;
    height: 190px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    background-color: rgba(16, 33, 54, 0.8);
    border-radius: 34px;
    color: white;
  }
  .current-time-div {
    display: flex;
    flex-direction: column;
  }
  .current-day-div {
    display: flex;
    flex-direction: row;
    font-family: 'Lato';
    font-size: 45px;
  }
  .current-day-sup {
    font-size: 28px;
  }
  .current-date-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
  }

  .current-month-div,
  .current-day-suntime {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    padding-left: 10px;
    padding: 10px 0px;
  }
  .current-day {
    padding-left: 5px;
  }
  .current-month,
  .current-sun-rise {
    display: flex;
    padding-right: 10px;
    border-right: 1px solid #ffffff;
  }
  .current-time,
  .current-sun-set {
    display: flex;
    padding-left: 10px;
  }
  .current-sun-rise::before {
    content: url('/images/008-sunrise.svg');
    padding-right: 10px;
  }
  .current-sun-set::before {
    content: url('/images/008-sunrise.svg');
    padding-right: 10px;
  }
}

@media screen and (min-width: 766px) {
  .current-date-section {
    width: 500px;
    height: 270px;
  }
  .current-date-div {
    width: 290px;
    height: 180px;
    padding: 0px 0px;
    width: fit-content;
  }

  .current-day {
    padding-left: 10px;
    font-size: 90px;
  }
  .current-day-sup {
    top: -40px;
  }
  .current-month-div,
  .current-day-suntime {
    font-size: 18px;
  }
}
@media screen and (min-width: 1178px) {
  .current-date-section {
    width: 630px;
    height: 278px;
    float: left;
    border-radius: 0px 34px 0px 0px;
    position: fixed;
    bottom: 0px;
    margin-bottom: 0px;
  }
  .current-date-div {
    width: fit-content;
    margin-left: 100px;
  }
  .current-day-div {
    font-size: 90px;
    padding-right: 180px;
  }
  .current-time-div {
    display: flex;
    flex-direction: row;
    font-size: 18px;
  }
  .current-month-div {
    margin-right: 40px;
  }
  .current-month,
  .current-sun-rise {
    padding-right: 20px;
  }

  .current-time,
  .current-sun-set {
    padding-left: 20px;
  }
}
