/* ====================== days-of-week-MOBILE ==========================================*/
.is-closed {
  display: none;
}
.is-active{
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);

  .daily-temperature__week-day{
    color: #FF6B09;
    opacity: 1;
  }
  .daily-temperature__additional-info{
    opacity: 1;
  }
}
.days-of-week {
  margin-bottom: 20px;
}
.weather-container-five-days-total {
  min-width: 280px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 30px 10px 20px 10px;


  background-color: rgba(16, 33, 54, 0.8);
  box-shadow: 0px 5px 33px rgba(16, 33, 54, 0.6);
  border-radius: 34px;
}
.location1 {
  display: none;
}
.h2-wripper {
  .location {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 0.83;
    color: #ffffff;
    text-align: center;
  }
  .temperature-wrapper {
    .daily-temperature {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: auto;
      margin-left: 10px;
      color: #ffffff;

      .daily-temperature__day {
        margin: 0;
        border-radius: 25px;
        padding: 8px;
        border: 1px solid transparent;
        transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
          background: rgba(255, 255, 255, 0.1);
          border: 1px solid rgba(255, 255, 255, 0.2);
        }

        &:not(:last-child) {
          margin-right: 0;
        }
        .daily-temperature__range-item {
          padding-right: 5px;
          padding-left: 5px;
        }

        .daily-temperature__week-day {
          margin-top: 0;
          margin-bottom: 13px;
          font-size: 12px;
          line-height: 0, 857;
          text-align: center;
          letter-spacing: 0.04em;
          // opacity: 0.55;
        }
        .daily-temperature__date {
          font-size: 16px;
          line-height: 0, 81;
          text-align: center;
          letter-spacing: 0.04em;
        }
        .daily-temperature__img {
          display: block;
          margin: 0 auto;
          margin-bottom: 5px;
          width: 40px;
          height: 40px;
          align-items: center;
          text-align: center;
          background-position: center;
          background-size: cover;
        }
        .daily-temperature__range {
          display: flex;
          justify-content: center;

          font-size: 12px;
          line-height: 0, 857;
          color: #767d85;

          .daily-temperature__range-value {
            font-size: 14px;
            line-height: 0, 823;
            color: #ff6b09;
            text-align: center;
          }
        }
      }
    }
  }
}
.daily-temperature__range-item:first-child {
  border-right: 1px solid #8798ac;
}
.daily-temperature__additional-info {
  display: block;
  width: 82px;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 15px;

  font-size: 12px;
  line-height: 14px;
  box-shadow: none;
  border: none;
  color: #ffffff;
  opacity: 0.3;
  background-color: transparent;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
  &::after {
    content: '';
    margin-top: 2px;

    display: block;
    width: 80%;
    height: 1px;
    margin-left: 7px;
    background-color: #ffffff;
    border-radius: 5px;
  }
}

.day {
  display: inline-block;
  margin-right: 50px;
  font-size: 12px;
  line-height: 14px;
  box-shadow: none;
  border: none;
  color: #ffffff;
  background-color: transparent;

  &.prev {
    margin-left: 100px;
  }
}
/* ====================== days-of-week-TABLET ===========================================*/
@media screen and (min-width: 768px) {
  .days-of-week {
    margin-bottom: 40px;
  }
  .weather-container-five-days-total {
    max-width: 620px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .location1 {
    display: block;
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 0, 823;
    text-align: center;
    color: #ffffff;
  }
  .h2-wripper {
    .location {
      display: none;
    }
    .temperature-wrapper {
      .daily-temperature {
        justify-content: space-around;
        overflow: hidden;
        .daily-temperature__day {
          .daily-temperature__range-item {
            padding-right: 10px;
            padding-left: 10px;
          }
          .daily-temperature__week-day {
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 0, 823;
          }
          .daily-temperature__date {
            margin-bottom: 15px;
            font-size: 18px;
          }
          .daily-temperature__img {
            width: 50px;
            height: 50px;
            margin-bottom: 0;
          }
          .daily-temperature__range {
            font-size: 14px;
            line-height: 0, 823;

            .daily-temperature__range-value {
              font-size: 14px;
              line-height: 0, 81;
            }
          }
        }
      }
    }
  }
  .daily-temperature__additional-info {
    margin: 0 auto;
    margin-top: 15px;
    font-size: 14px;
    line-height: 17px;

    &::after {
      margin-top: 1px;
      width: 80%;
      height: 1px;
      background-color: #ffffff;
      border-radius: 5px;
    }
  }
  .day {
    display: none;
  }
}
/* ====================== days-of-week-Dasctop ===========================================*/
@media screen and (min-width: 1280px) {
  .days-of-week {
    margin-bottom: 30px;
  }
  .weather-container-five-days-total {
    max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .location1 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .h2-wripper {
    .temperature-wrapper {
      .daily-temperature {
        justify-content: space-around;
        margin-top: 0;

        overflow: hidden;
        .daily-temperature__day {
          margin: 0;

          .daily-temperature__week-day {
            font-size: 18px;
            line-height: 1, 22;
          }
          .daily-temperature__date {
            font-size: 25px;
            line-height: 1, 2;
          }
          .daily-temperature__img {
            margin-bottom: 30px;
          }
          .daily-temperature__range {
            font-size: 18px;
            line-height: 0, 81;

            .daily-temperature__range-value {
              font-size: 25px;
              line-height: 0, 83;
            }
          }
        }
      }
    }
  }
  .daily-temperature__additional-info {
    margin: 0 auto;
    margin-top: 5px;
  }
}

.weather-container-five-days-total {
  border-radius: 35px;
  background-color: rgba(16, 33, 54, 0.8);
  box-shadow: 0px 8px 43px rgba(16, 33, 54, 0.6);
}
