.wheather-main-more-info-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-evenly;
}

.wheather-whole-data-more-info-container {
  overflow-x: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  &::-webkit-scrollbar {
    height: 5px;
    bottom: #ff6b09;
    background-color: #ffffff8a;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ff6b09;
  }

  @media screen and (min-width: 768px) {
    width: 570px;
    overflow: hidden;
  }

  @media screen and (min-width: 1280px) {
    justify-content: center;
    overflow: visible;
    width: 100%;
  }
}

.wheather-whole-data-more-info-item {
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  // background-color: #102136;
  width: 120px;
  height: 218px;
  padding-left: 10px;
  margin-bottom: 5px;
  padding-right: 10px;
  margin-right: 10px;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.current-more-info-time {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 0.82;
  align-items: center;
  text-align: center;
  color: #ffffff;
  opacity: 0.54;
  padding-top: 15px;
  padding-right: 19px;
  padding-bottom: 10px;
  padding-left: 19px;
}

.icon-more-info-wheather {
  display: block;
  width: 50px;
  height: 50px;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.current-more-info-temperature {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 0.83;
  /* identical to box height */
  color: #ff6b09;
  margin-bottom: 16px;
  align-items: center;
  text-align: center;
}

.container-more-info-wheather-parameters-pressure {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  text-align: center;

  &::before {
    width: 20px;
    height: 20px;
    content: url('../../src/images/Barometer.png');
  }
}
.container-more-info-wheather-parameters-humidity {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  text-align: center;

  &::before {
    width: 20px;
    height: 20px;
    content: url('../../src/images/Humidity.png');
  }
}

.container-more-info-wheather-parameters-wind {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  text-align: center;

  &::before {
    width: 20px;
    height: 20px;
    content: url('../../src/images/Wind.png');
  }
}

.text-more-info-wheather-parameters {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 0.82;
  color: #ffffff;
  opacity: 0.54;
  padding-left: 3px;
  padding-top: 3px;
}

.buttons-more-info-scroll {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.left-button-more-info,
.right-button-more-info {
  width: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border: none;
  padding: 0;
  transition: opacity 200ms linear;
  outline: none;
  img {
    margin: 0 auto;
  }
}

.button-more-info-arrow-hiden {
  opacity: 0;
}
