.chart-main-container {
  position: relative;
  padding-top: 25px;
  width: 320px;
  height: 580px;
  background: rgba(16, 33, 54, 0.8);
  box-shadow: 0px 5px 33px rgba(16, 33, 54, 0.6);
  border-radius: 34px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 620px;
    height: 580px;
  }
  @media screen and (min-width: 1280px) {
    width: 1060px;
    height: 580px;
  }
}

.chart-hide-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.chart-show-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.chart-show-link,
.chart-hide-link {
  display: inline;
  position: relative;
  width: 80px;
  height: 18px;
  background-color: transparent;
  padding: 0;
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 0.82;
  align-items: center;
  text-decoration-line: underline;
  color: #ff6b09;
  align-items: center;
  cursor: pointer;
  &::after {
    margin-left: 10px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    content: url('../images/right-arrow.png');
    position: absolute;
    top: -6px;
    transform: rotate(90deg);
  }
}
.chart-hide-link {
  &::after {
    transform: rotate(-90deg);
  }
}

// .chart-hide-link {
//   margin-left: 85px;
//   margin-right: 10px;
//   margin-top: 26px;
//   width: 72px;
//   height: 18px;
//   font-family: Lato;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 14px;
//   line-height: 0.82;
//   align-items: center;
//   text-decoration-line: underline;
//   color: #ff6b09;
//   @media screen and (min-width: 768px) {
//     margin-left: auto;
//   }
// }

.icon-arrow-up {
  display: block;
  width: 28px;
  height: 28px;
  align-items: center;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    margin-right: auto;
  }
}
